@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	background-color: #161b27;;
}
.hero {
	background-image: url("./assets/hero-bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
}

.header.active{
	background-color: red !important;
}

